In [1]:
# Springboard's Mini-Project Using World Bank Projects Data

# Importing essential packages
import pandas as pd

In [2]:
import json
from pandas.io.json import json_normalize

In [3]:
#Problem 1

In [4]:
# Loading Data into Dataframe
WBP_file = 'world_bank_projects.json'
WBP_df = pd.read_json(WBP_file, 'r')

In [5]:
# Review Loaded Data
WBP_df.head()

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{'$oid': '52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"{'Percent': 46, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,{'$oid': '52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,JB,IBRD,Active,N,"{'Percent': 50, 'Name': 'Participation and civ...","[{'code': '57', 'name': 'Participation and civ...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,{'$oid': '52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"FH,YW,YZ",IBRD,Active,N,"{'Percent': 30, 'Name': 'Export development an...","[{'code': '45', 'name': 'Export development an...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...

In [6]:
# Selecting Neccessary Data for Question 1 and Checking if it is Clean
WBP_MP = WBP_df[['countryname', 'totalamt']]
WBP_MP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 2 columns):
countryname    500 non-null object
totalamt       500 non-null int64
dtypes: int64(1), object(1)
memory usage: 7.9+ KB

In [7]:
# Summing Total Projects Together Under Single Country Name
WBP_MP = WBP_df[['countryname', 'totalamt']]
WBP_MP.columns=['Country_Name', "Total_Amount"]
by_country = WBP_MP.pivot_table(index = 'Country_Name', aggfunc='sum' )

In [8]:
# Confirming Pivot Table Success
by_country.info()

<class 'pandas.core.frame.DataFrame'>
Index: 118 entries, Africa to World
Data columns (total 1 columns):
Total_Amount    118 non-null int64
dtypes: int64(1)
memory usage: 1.8+ KB

In [9]:
# Calling Top 10 Total Projects By Country
by_country_sort = by_country.sort_values('Total_Amount', ascending = False)
by_country_sort[0:10]

                                         Total_Amount
Country_Name
Republic of India                          2595700000
Federative Republic of Brazil              2326200000
Republic of Indonesia                      2045500000
Socialist Republic of Vietnam              1832400000
People's Republic of Bangladesh            1566500000
People's Republic of China                 1540000000
Republic of Poland                         1307800000
Republic of Turkey                         1301000000
Federal Democratic Republic of Ethiopia    1245000000
Federal Republic of Nigeria                1220000000

In [10]:
# Problem 2

In [11]:
"""Loading in File as JSON String and Normalizing 'mjtheme_namecode':
Please Note Question 3 Asks for Missing Names Data to be Filled In"""

data = json.load(open(WBP_file))
wbp_namecode = json_normalize(data, 'mjtheme_namecode')

In [12]:
# Group and Count by Code
by_code = wbp_namecode
by_code['count']=by_code.groupby('code').transform('count')

# Remove Empty Names
by_code= by_code[by_code.name != ""]

#Combine Duplicates Into Pivot Table Then Sort and List Top 10 in Descending Order
by_code_pivot = by_code.pivot_table(index= ['code','name'], values='count')
by_code_sorted = by_code_pivot.sort_values('count', ascending=False)
by_code_sorted[0:10]

                                                   count
code name
11   Environment and natural resources management    250
10   Rural development                               216
8    Human development                               210
2    Public sector governance                        199
6    Social protection and risk management           168
4    Financial and private sector development        146
7    Social dev/gender/inclusion                     130
5    Trade and integration                            77
9    Urban development                                50
1    Economic management                              38

In [13]:
# Problem 3

In [14]:
# Grabbing Data to be Cleaned and List Total Number of Rows
data = json.load(open(WBP_file))
wbp_filling = json_normalize(data, 'mjtheme_namecode')
wbp_filling.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 2 columns):
code    1499 non-null object
name    1499 non-null object
dtypes: object(2)
memory usage: 23.5+ KB

In [16]:
#Iterate Over Dataframe and Fill '' with None Value

for frame, entry in wbp_filling['name'].iteritems():
    if entry == '':
        wbp_filling = wbp_filling.set_value(frame,'name',None)
fill_sorted = wbp_filling.sort_values('code')
fill_sorted_filled =fill_sorted.ffill()

In [22]:
# Sort Data to Group Codes Together Then Forward Fill to Fill Dataframe with the Correct Name Then Print to Show Completed Work
fill_sorted = wbp_filling.sort_values('code')
filled =fill_sorted.ffill() 
print(filled)

     code                 name
458     1  Economic management
1235    1  Economic management
1230    1  Economic management
1229    1  Economic management
1218    1  Economic management
900     1  Economic management
648     1  Economic management
647     1  Economic management
1078    1  Economic management
1206    1  Economic management
1437    1  Economic management
357     1  Economic management
363     1  Economic management
1010    1  Economic management
784     1  Economic management
1024    1  Economic management
88      1  Economic management
1045    1  Economic management
497     1  Economic management
1056    1  Economic management
1057    1  Economic management
1114    1  Economic management
454     1  Economic management
453     1  Economic management
1257    1  Economic management
1260    1  Economic management
1212    1  Economic management
249     1  Economic management
841     1  Economic management
220     1  Economic management
...   ...                  ...
669     9    Urban development
1303    9    Urban development
1347    9    Urban development
460     9    Urban development
1342    9    Urban development
183     9    Urban development
200     9    Urban development
1318    9    Urban development
1290    9    Urban development
585     9    Urban development
737     9    Urban development
822     9    Urban development
369     9    Urban development
597     9    Urban development
53      9    Urban development
598     9    Urban development
356     9    Urban development
354     9    Urban development
962     9    Urban development
738     9    Urban development
512     9    Urban development
742     9    Urban development
1428    9    Urban development
333     9    Urban development
1426    9    Urban development
1425    9    Urban development
447     9    Urban development
739     9    Urban development
341     9    Urban development
1102    9    Urban development

[1499 rows x 2 columns]

In [19]:
# Check To Show Work is Accurate by Finding and Printing Entry Count
print(filled.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1499 entries, 458 to 1102
Data columns (total 2 columns):
code    1499 non-null object
name    1499 non-null object
dtypes: object(2)
memory usage: 35.1+ KB

In [21]:
# Check to Show Work is Accurate by Dropping Duplicates and Printing Result
print(filled.drop_duplicates())

     code                                          name
458     1                           Economic management
1148   10                             Rural development
1030   11  Environment and natural resources management
176     2                      Public sector governance
359     3                                   Rule of law
925     4      Financial and private sector development
634     5                         Trade and integration
33      6         Social protection and risk management
944     7                   Social dev/gender/inclusion
859     8                             Human development
570     9                             Urban development